## Add category group column to data

In [ ]:
import pandas as pd

cat = pd.read_json('./data/source/categories.json')
cgmap = {}
for i in cat['Mobile'].unique():
    cgmap[i] = 0
for i in cat['Fashion'].unique():
    cgmap[i] = 1
for i in cat['Beauty'].unique():
    cgmap[i] = 2
def getGroup(c):
    return cgmap[c]
# get group from category

data = pd.read_csv("./data/source/train.csv")
data['group'] = data.apply(lambda row: getGroup(row['Category']), axis=1)
# add new column

data.to_csv('./data/clean/train_group.csv')
# export

In [20]:
gdat = pd.read_csv('./data/clean/train_group.csv')
gdat.head()

,Unnamed: 0,itemid,title,Category,image_path,group
0,0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg,2
1,1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg,2
2,2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg,2
3,3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg,2
4,4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg,2

In [1]:
import pandas as pd

In [6]:
samdat = pd.read_csv('./data/source/data_info_val_sample_submission.csv')
samdat.head()

       itemid  Category
0   370855998        32
1   637234604        20
2   690282890        18
3   930913462        18
4  1039280071        11