## Add category group column to data

In [9]:
import pandas as pd

cat = pd.read_json('./data/source/categories.json')
cgmap = {}
for i in cat['Mobile'].unique():
    cgmap[i] = 0
for i in cat['Fashion'].unique():
    cgmap[i] = 1
for i in cat['Beauty'].unique():
    cgmap[i] = 2
# get group from category

data = pd.read_csv("./data/source/train.csv")
data['group'] = data.apply(lambda row: cgmap[row['Category']], axis=1)
# add new column

data.to_csv('./data/clean/train_group.csv')
# export

In [10]:
gdat = pd.read_csv('./data/clean/train_group.csv')
gdat.head()

,Unnamed: 0,itemid,title,Category,image_path,group
0,0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg,2
1,1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg,2
2,2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg,2
3,3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg,2
4,4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg,2

In [1]:
import pandas as pd

In [6]:
samdat = pd.read_csv('./data/source/data_info_val_sample_submission.csv')
samdat.head()

       itemid  Category
0   370855998        32
1   637234604        20
2   690282890        18
3   930913462        18
4  1039280071        11

In [14]:
from PIL import Image
import requests
from io import BytesIO
import pandas as pd

IMAGES = 'http://storage.googleapis.com/ndsc-storage/data/images/'

data = pd.read_csv("./data/clean/train_group.csv")
imgs = []
for i in range(5):
    response = requests.get(IMAGES + data['image_path'][i])
    imgs[i] = Image.open(BytesIO(response.content))
from matplotlib.pyplot import imshow
import numpy as np
imshow(np.asarray(imgs))

OSError: cannot identify image file <_io.BytesIO object at 0x1346fb150>

In [26]:
bucket = 'http://storage.googleapis.com/ndsc-storage/'
data = bucket + 'data/'
images = data + 'images/'
source = data + 'source/'
clean = data + 'clean/'

import pandas as pd
import re

def data_addgroup(d):
    def _strtogroup(s):
        if re.search('^mobile', s):
            return 0
        elif re.search('^fashion', s):
            return 1
        return 2
    d['group'] = d.apply(lambda row: _strtogroup(row['image_path']), axis=1)
    return d

import pandas as pd
d = pd.read_csv(source + 'test.csv')
data_addgroup(d)
d.head()

,itemid,title,image_path,group
0,370855998,flormar 7 white cream bb spf 30 40ml,beauty_image/1588591395c5a254bab84042005f2a9f.jpg,2
1,637234604,maybelline clear smooth all in one bb cream sp...,beauty_image/920985ed9587ea20f58686ea74e20f93.jpg,2
2,690282890,murah innisfree eco natural green tea bb cream...,beauty_image/90b40e5710f54352b243fcfb0f5d1d7f.jpg,2
3,930913462,loreal white perfect day cream spf 17 pa white...,beauty_image/289c668ef3d70e1d929d602d52d5d78a.jpg,2
4,1039280071,hada labo cc cream ultimate anti aging spf 35 ...,beauty_image/d5b3e652c5822d2306f4560488ec30c6.jpg,2